In [6]:
import pandas as pd

In [11]:
df = pd.read_csv("spam.csv", encoding="ISO-8859-1")

In [12]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [13]:
df = df.iloc[:, [0, 1]]

In [14]:
df.head(3)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [15]:
df.columns = ["label", "message"]

In [16]:
df.head(3)

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...

In [17]:
df["label"] = df["label"].map({"ham": 0, "spam": 1})

In [18]:
df.head(3)

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...

In [19]:
import re
import string
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r'\d+', '', text)
    text = text.translate(str.maketrans("", "", string.punctuation))  
    text = text.strip() 
    return text

In [21]:
df["message"] = df["message"].apply(clean_text)

In [22]:
tfidf = TfidfVectorizer(stop_words="english", max_features=5000)

In [23]:
X = tfidf.fit_transform(df["message"])
y = df["label"]

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

 Support Vector Machine

In [26]:
from sklearn.svm import SVC

In [27]:
svm = SVC()

In [28]:
svm.fit(X_train, y_train)
y_pred = svm.predict(X_test)

In [30]:
from sklearn.metrics import accuracy_score

In [31]:
print("SVM Accuracy:", accuracy_score(y_test, y_pred))

SVM Accuracy: 0.9704035874439462

In [32]:
from sklearn.metrics import classification_report

In [33]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98       965
           1       0.98      0.79      0.88       150

    accuracy                           0.97      1115
   macro avg       0.98      0.90      0.93      1115
weighted avg       0.97      0.97      0.97      1115